.lc{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.google-signin-btn{
    display: flex;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    padding: 14px;
    height: fit-content;
    display: flex;
    align-items: center;
}
.google-signin-btn img{
    margin-right: 10px;
    height: 30px;
}
.google-signin-btn span{
    font-size: 1.2rem;
    color: rgba(0,0,0,0.8)
}
.uc{
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: center;
}
.account-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.account-img img{
    border-radius: 50%;
}
.account-name h2{
    font-size: 1.8rem;
    font-family: roboto, sans-serif;
    font-weight: 600;
}
.account-email{
    margin-bottom: 50px;
}
.account-email p{
    color: #646464;
    font-size: 1.2rem;
    font-family: roboto, sans-serif;
}
.account-logout{
    width: 100%;
}
.account-logout button{
    width: 100%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    border-radius: 10px;
    color: #a70000;
    font-size: 1rem;
    letter-spacing: 0.2px;
    padding: 16px;
}